<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <!--Add a nav bar here -->
    {% include 'djangoapp/navbar.html' %}

    <h3>Reviews for <b>{{ dealer_name }} </b></h3>
    <div class="container">

        <!-- Add reviews as cards -->
        <div class="card-columns">

            {% for review in dealership_reviews %}
            <div class="card">
                {% if review.sentiment == "positive" %}
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" width="40px" height="40px"
                    alt="positive">
                {% elif review.sentiment == "neutral" %}
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" width="40px" height="40px"
                    alt="neutral">
                {% elif review.sentiment == "negative" %}
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" width="40px" height="40px"
                    alt="negative">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{review.car_make}} {{review.car_model}}</h5>
                    <h5 class="card-title">{{review.car_year}}</h5>
                    <p class="card-text">Review: {{review.review}}</p>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>

    {% if user.is_authenticated %}
    <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer_id %}">Add review</a>
    {% endif %}
</body>

</html>